body{background: #FFC0CB;}
h1{text-align: center;}
table{
	border: 2px;
	border-color: black;
	border-style: solid;
	border-collapse: collapse;
	width: 100%;
	height: 700px;
}
th{
	width: 100%;
	height: 10%;
	border: 1px;
	border-color: black;
	border-style: solid;
}
#cont{
	border: 1px solid black;
	width:60%;
	vertical-align: top;
}
#un{
	width: 100%;
	height: 600px;
}
#nav{
	border: 1px solid black;
	width: 20%;
	vertical-align: top;
}
#navlist{
	list-style: none;
}
.navim{
	width:40px;
}